<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Academie Numerique" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag "application", "custom", media: "all", "data-turbo-track": "reload" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <%= link_to "Accueil", root_path %>
    <%= link_to "Courses", courses_path %>
    <%= link_to "Students", students_path %>
    <%= link_to "Teachers", teachers_path %>
    <%= link_to "Assignments", assignments_path %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "Submissions", submissions_path %>
    <%= link_to "Grades", grades_path %>
    <%= link_to "Enrollments", enrollments_path %>
    <%= link_to "Messages", messages_path %>

    <% if user_signed_in? %>
      <span style="color: white; margin-left: 20px;">
      Logged in as <%= current_user.email %> (<%= current_user.role.capitalize %>)
      </span>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, style: "color: red; margin-left: 10px;" %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path, style: "color: white; margin-left: 20px;" %>
      <%= link_to "Log in", new_user_session_path, style: "color: white; margin-left: 10px;" %>
    <% end %>

  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
